.header h1{
    background:#F197A4;
    color: #ffffff;
    text-align: center;
    font-size: 10 rem;
    padding: 2rem 2rem 2rem 2rem;
    /* color:red; */
    text-shadow: 1px 1px 1px black;
}
.data {
    text-align: center;
    /* color: #ffffff; */

}
p{
    size: 0.5 rem;
}
.maxdiv{
    height: auto;
    width: auto;
}
.detail{
    background-color:rgba(186, 250, 228, 0.487);
    /* border-radius: 5px; */
    padding: 2.2rem;
    box-shadow: 1px 1px 2px 1px black;
    font-size: 3vw;
    color:black;
    /* margin: 5px 0px 0px 10px; */
    /* margin:auto; */
    margin:auto;
    margin-top:11vw;
    border-radius: 50%;
    /* display: block; */
    align-items: center;
    text-align: center;
    width: 85vw;
    height: 85vw;
    /* position: relative; */
}
.bigbox{
    display:flex;
    margin:auto;
    /* padding:5px; */
    position: relative;
    padding-top: 15vw;
}
.box{
    margin:auto;
    padding:2vw;
    /* padding-top: 1; */
    border-radius: 1vw ;
    border:0.8px solid black;
    font-size:3.8vw;
    /* bottom: 100; */
}
.Pic{
    width:55%;
    /* margin-bottom: ; */
    /* position:absolute; */
    align-items: center;
    text-align: center;
    /* bottom: -10px;; */
}