.header h1{
    background:#F197A4;
    color: #ffffff;
    text-align: center;
    font-size: 10 rem;
    padding: 2rem 2rem 2rem 2rem;
    /* color:red; */
}
.data {
    text-align: center;
    /* color: #ffffff; */

}
p{
    size: 0.5 rem;
}