.waterbottlediv img{
    margin:auto;
    align-items: center;
    box-align: center;
    height: auto;
    width: 100%;
}
.Time{
    text-align: center;
}
.TimeDiv{
    margin:auto;
    padding: 8px;
}
/* .itemdiv{
    align:center;
    align-items: center;
    
} */
.waterbottle{
    align-items: center;
    margin:auto;
}