.center {
    position: absolute;
    top: 50%;
    left: 48%;
  }
  @media only screen and (max-width: 991px) {
    .center{
        top: 50%;
        left: 45%;
    }
    
}
@media only screen and (max-width: 601px) {
    .center{
        top: 50%;
        left: 38%;
    }
    
}