.form-control{
    padding: 5px;
    margin: 5px;

}
.btn-btn-info{
    display: block;
    margin:auto;
    /* width:40%; */
    border-radius: 4px;
    
    background-color:#4152A5;
}
.Header2{
    margin:auto;
    display: block;
    text-align: center;
    height: 80%;
    font-size:14px !important;
    /* box-shadow: 5px;; */
    padding: 5px;
    color:rgba(0, 0, 0, 0.641)
}
.Header{
    margin:auto;
    display: block;
    text-align: center;
    height: 100%;
    font-size:30px;
    /* box-shadow: 5px;; */
    padding: 5px;
    /* color:#0dcaf0 */
}

/* HIDE RADIO */
.gender [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  .gender img{
    width: 150px;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 4px;
  }
  .gender [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
.gender [type=radio]:checked + img {
    outline: 2px solid #F197A4;
  }
  input[type=submit]{
    color: white;
  }
  @media only screen and (max-width: 605px) {
    img{
        margin: 1rem 1rem 1rem 1rem;
    }
    
}
