.emotionDiv{
    margin:4px;
    padding:4px;
    display:flex;
    flex-flow:  row wrap;
}
.emotion{
    width:8rem;
    height:8rem;;
    margin:5px;
    padding:2px;
    position:relative;
    /* display:flex; */
    justify-content: start;
    align-items:center;
    /* flex-flow: row nowrap; */
}
.emotion:hover{
    box-shadow: 2px 2px 2px black;
    cursor:pointer;
}
.angry{
    width:6.5rem;
    height:6.5rem;
    margin:2px;
    background-image:url("./../images/Emotion/angry.jpg");
    background-size:cover;
}
.badly{
    width:6.5rem;
    height:6.5rem;
    margin:2px;
    background-image:url("./../images/Emotion/badly.jpg");
    background-size:cover;
}
.sad{
    width:6.5rem;
    height:6.5rem;
    margin:2px;
    background-image:url("./../images/Emotion/sad.jpg");
    background-size:cover;
}
.smile{
    width:6.5rem;
    height:6.5rem;
    margin:2px;
    background-image:url("./../images/Emotion/smile.jpg");
    background-size:cover;
}
.happy{
    width:6.5rem;
    height:6.5rem;
    margin:2px;
    background-image:url("./../images/Emotion/happy.jpg");
    background-size:cover;
}
.BigPic{
    display:block;
    width:15rem;
    height:15rem;
    margin-left:auto;
    margin-right:auto;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    /* background-color:black; */
    /* transition: ease .25s; 
    -webkit-transition: ease .25s; */
    animation: theAnimation 2s linear;
}
.Bigpic.show-loading
.BigPicDiv{
    margin:auto;
    /* width */
}
.Divpic{
    display:absolute;
    width:7.15rem;
    
    /* border:3px solid black; */
    /* background-color: black !important; */
    /* padding:10px */
    margin:1px;
}
.detailp {
    text-align:center;
}