.emotionDiv{
    margin:4px;
    padding:4px;
    display:flex;
    flex-flow:  row wrap;
    align-items:center;
    align-content: center;
    justify-content:center;

}
.emotion{
    width:9rem;
    height:9rem;;
    margin:5px;
    padding:2px;
    position:relative;
    /* display:flex; */
    justify-content: start;
    align-items:center;
    /* flex-flow: row nowrap; */
}
.emotion:hover{
    box-shadow: 2px 2px 2px black;
    cursor:pointer;
}
.angry{
    width:7rem;
    height:7rem;
    margin:2.5px;
    background-image:url("./../images/Emotion/angry.jpg");
    background-size:cover;
}
.badly{
    width:7rem;
    height:7rem;
    margin:2.5px;
    background-image:url("./../images/Emotion/badly.jpg");
    background-size:cover;
}
.sad{
    width:7rem;
    height:7rem;
    margin:2.5px;
    background-image:url("./../images/Emotion/sad.jpg");
    background-size:cover;
}
.smile{
    width:7rem;
    height:7rem;
    margin:2.5px;
    background-image:url("./../images/Emotion/smile.jpg");
    background-size:cover;
}
.happy{
    width:7rem;
    height:7rem;
    margin:2.5px;
    background-image:url("./../images/Emotion/happy.jpg");
    background-size:cover;
}
.BigPic{
    display:block;
    width:18rem;
    height:18rem;
    margin-left:auto;
    margin-right:auto;
    margin-top: 17px;
    margin-bottom: 17px;
    align-items: center;
    /* background-color:black; */
    /* transition: ease .25s; 
    -webkit-transition: ease .25s; */
    animation: theAnimation 2s linear;
}
.BigPicDiv{
    margin:auto;
    /* width */
}
.Divpic{
    display:absolute;
    width:7.15rem;
    
    /* border:3px solid black; */
    /* background-color: black !important; */
    /* padding:10px */
    margin:1px;
}
.detailp {
    text-align:center;
    font-size:1.1rem;
}
.feeling{
    display:block;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* padding: 1vw; */
    margin:auto;
}
.feelbut{
    align-items:center;
    justify-content: center;
    text-align: center;
}
.feelbox{
    width: 90vw;
    align-items:center;
    justify-content: center;
    text-align: center;
    /* padding: 2; */
}