.nav{
    --bs-nav-link-color:#4152A5 !important;
}
.nav{
    --bs-nav-link-hover-color:#F197A4 !important
}
.navbar {
    border-bottom: solid 1px #EBEBEB;
  }
  
  .bottom-tab-nav {
    border-top: solid 1px #EBEBEB;
  }
  
  .nav-link,
  .bottom-nav-link {
    color: #55575b;
  }

  .bottom-nav-link.active,.nav-link.active {
    color: #F197A4;
  }
  
  .bottom-tab-label {
    font-size: 12px;
  }