.nav{
    --bs-nav-link-color:#191919 !important;
}
.nav{
    --bs-nav-link-hover-color:#4152A5 !important
}
.navbar {
    border-bottom: solid 1px #EBEBEB;
  }
  
  .bottom-tab-nav {
    border-top: solid 1px #EBEBEB;
  }
  
  .nav-link,
  .bottom-nav-link {
    color: #55575b;
  }
  
  .bottom-nav-link.active {
    color: #4152A5;
  }
  
  .bottom-tab-label {
    font-size: 12px;
  }