@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Sarabun&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app{
  font-family: 'Kanit', sans-serif;
  font-family: 'Sarabun', sans-serif;
  background :#eef4f9;
  color: #4152A5;
  /* background-color:#F197A4  ; */
  width:100%;
  height:100vh;
}